/* 바깥 박스*/
.album-shortcut {
  width: 500px;
  height: 500px;
  padding: 15px;
  margin-left: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* ← 이것이 핵심! */
  justify-content: flex-start;
}

/* 앨범 이미지 들어가는 중간 박스*/
.album-box {
  margin-top: 20px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*이미지 파일*/
.album-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  object-position: center; /* crop 기준점을 '정중앙'으로 설정 */
  border-radius: 10px;
}
